html {
  box-sizing: border-box;
}

*,
::after,
::before {
  box-sizing: inherit;
}


body {
  background: linear-gradient( #615dad ,  #ffc8da);
  min-height: 100vh
}

.obsah {
  margin: 30px auto;
  width: 100%;
  max-width: 364px;
}

img {
    width: 100%;
    display: block;
    border-radius: 5px 5px 0 0;
}

.popis {
  color: #fff;
  padding: 20px;
  text-align: center;
  background-color: #283e50;
  line-height: 1.5;
  font-size: 15px;
  font-family: Arial, sans-serif;
}

.nadpis {
  margin: 20px 0 30px 0;
  font-family: 'Lobster', cursive;
  font-size: 38px; 
  font-weight: normal;
  text-align: center;
}

.tlacitka {
  display: flex;
  flex-direction: column;
}

.tlacitko1,
.tlacitko2 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  text-decoration: none;
  font-family: Arial, sans-serif;
  color: white;
  font-size: 15px;
}

.tlacitko1 {
  background-color: #1fcca4;
  border-bottom: 0.5px solid black;
}

.tlacitko2 {
  background-color: #0197f6;
}

.tlacitko1:hover {
  background-color: #1cbb96; 
}

.tlacitko2:hover {
  background-color:  #0090e9;
}

.pravidla {
  margin: 30px auto;
  max-width: 320px;
  width: 100%;
}

.obsah-pravidla {
  width: 100%;
  background-color:  #283e50;
  color: white;
  padding: 30px 25px 5px 25px;
  margin-bottom: 0;
  border-radius: 8px 8px 0 0;
  font-size: 15px;
  font-family: Arial, sans-serif;
}


.galerie {
  background-color:  #283e50;
  color: white;
  padding: 5px 0px 5px 0px;
}

.foto {
  width: 100%;
  border-radius: 0 0;
}

.list {
  padding-left: 10px;
  padding-bottom: 12px;
}

.znaky {
  width: 1rem;
  height: 1rem;
  filter: invert(100%);
  display:inline-block;
}

.text {
  text-align: center;
  margin-top: 5px;
  margin-bottom: 40px;
  font-size: 13.5px;
  font-style: italic;
  font-family: Arial, sans-serif;
} 

@media(min-width: 800px) {
  .pravidla {
    max-width: 680px;
    margin: 30px auto;
  }

  .obsah-pravidla {
    font-size: 17px;
  }

  .galerie {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .foto {
    width: 100%;
    max-width: 290px;
  }

  figure {
    margin: 0;
  }

  .text {
    max-width: 290px;
    font-size: 13px;
  } 
}

@media(min-width: 1000px) {
  .obsah2 {
    max-width: 680px;
  }
}

/* ---------------------Hra------------------------- */

.obsah-hra {
  margin: 50px auto;
  max-width: 80vmin;
  color: white;
}

.nadpis-hra {
  font-family: 'Lobster', cursive;
  font-size: 50px; 
  font-weight: normal;
  text-align: center;
}

.menu-hra {
  display:flex;
  justify-content: space-between;
}

.menu-hra-left {
  font-size: 20px;
  font-family: Arial, sans-serif;
  padding-top: 10px;
}

.icon-left {
  width: 1rem;
  height: 1rem;
  filter: invert(100%);
  display:inline-block;
  margin-left: 5px;
}

.menu-hra-right {
  display: flex;
  justify-content: flex-end;
} 

.menu-icons-1 {
    background-color: #1fcca4;
    padding: 8px;
    margin-right: 5px;
    border-radius: 3px;
    margin-bottom: 10px;
}


.menu-icons-1:hover,
.menu-icons-1:focus {
  background-color: #1cbb96;
}
.menu-icons-2 {
    background-color: #0197f6;
    padding: 8px;
    border-radius: 3px;
    margin-bottom: 10px;
}

.menu-icons-2:hover,
.menu-icons-2:focus {
  background-color: #0090e9;
}

.table-hra {
  display: flex;
  flex-wrap: wrap;
  height: 80vmin;
}

.btn {
  width: calc(100% /10);
  height: calc(100% /10);
  background-color: transparent;
  border-radius: 0;  
}

.table-hra,
.btn {
  border: 2px solid black;
}

.table-hra {
  border-right: 0;
  border-bottom: 0;
  }

.btn {
  border-top: 0;
  border-left: 0;
}

.btn:hover,
.btn:focus {
  background: linear-gradient(#8581b9, #f3d9e2) fixed;
  cursor: pointer;
}

.board__field--circle:hover {
  background-image: url(images/circle.svg);
  background-attachment: initial; 
  background-size: 65%;
  background-repeat: no-repeat;
  background-position: center;
  animation: example;
  animation-duration: 0.15s;
}

.board__field--cross:hover {
  background-image: url(images/cross.svg);
   background-attachment: initial; 
  background-size: 65%;
  background-repeat: no-repeat;
  background-position: center;
  animation: example;
  animation-duration: 0.15s;
}


@keyframes example {
  0% {
    background-size: 0%;
  }
  100% {
    background-size: 65%;
  }
}
/* 
.board__field--circle:hover,
.board__field--cross:hover {
  background: linear-gradient(#8581b9, #f3d9e2) fixed;
  cursor: pointer;
} */
