* {
  box-sizing:border-box;
}

body {
  background: linear-gradient( #615dad ,  #ffc8da);
}

.obsah {
  margin: 230px auto;
  width: 100%;
  max-width: 364px;
}

img {
    width: 100%;
    display: block;
    border-radius: 5px 5px 0 0;
}

.popis {
  color: #fff;
  padding: 20px;
  text-align: center;
  background-color: #283e50;
  line-height: 1.5;
  font-size: 15px;
  font-family: Arial, sans-serif;
}

.nadpis {
  margin: 0 0 20px 0;
  font-family: 'Lobster', cursive;
  font-size: 36px; 
  font-weight: normal;
}

.tlacitka {
  display: flex;
  flex-direction: column;
}

.tlacitko1,
.tlacitko2 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  text-decoration: none;
  font-family: Arial, sans-serif;
  color: white;
  font-size: 15px;
}

.tlacitko1 {
  background-color: #1fcca4;
  border-bottom: 0.5px solid black;
}

.tlacitko2 {
  background-color: #0197f6;
}

.tlacitko1:hover {
  background-color: #1cbb96; 
}

.tlacitko2:hover {
  background-color:  #0090e9;
}