body {
  background: linear-gradient( #615dad ,  #ffc8da);
}

.obsah {
  margin: 250px 500px 500px 500px;
}

img {
    width: 100%;
    height: 100%;
    display: block;
}

a {
  display: block;
  width: 100%;
}
